<html>
<head>
</head>

<body>

		<div id="shopping-cart" class="ui sidebar right inverted vertical shopping-cart">
			<a class="item">
		      1
		    </a>
		    <a class="item">
		      2
		    </a>
		    <a class="item">
		      3
		    </a>
		</div>

		<div class="pusher condense">

			<header class="header border-bottom margin-bottom">
				<div class="ui search">
				  <div class="ui icon input">
				    <input class="prompt" type="text" placeholder="Search books...">
				    <i class="search icon"></i>
				  </div>
				  <div class="results"></div>
				</div>
				<span class="ui large header no-margin">BOOKS BOOKS BOOKS</span>
				<i class="icon shop right large-icon"></i>
			</header>

			<div class="main container">
				<div class="row cat1 vertical-flex">

					<!-- CATEGORY -->
					<h3 class="ui medium header left no-margin">
						Trending Now
					</h3>

					<div class="category no-margin border-tb horizontal-scroll horizontal ui link cards">
						<!-- LOOP ALL BOOKS FOR CATEGORY -->

						<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>


						<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>

											<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>

											<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>

											<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>

											<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>

																<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>

																<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>

																<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>

																<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>

																<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>

																<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>

																<div class="card">
						    <div class="image">
							      <img class="image" src="/assets/book-pic.jpg">
							</div>
							<div class="content">
						      <div class="header">The Catcher in the Rye</div>
		<!-- 				      <div class="meta">
						        <a>J.D. Salinger</a>
						      </div> -->
		<!-- 				      <div class="description">
						        A controversial novel originally published for adults, it has since become popular with adolescent readers for its themes of teenage angst and alienation.
						      </div> -->
						    </div>
						    <div class="extra content center-text">
						      <span>
						        J.D. Salinger
						      </span>
						    </div>
						</div>



					</div>
					<!-->


				</div>
			</div>

		</div>


</body>

</html>
